body {
  background-color: $background-color-black-theme;
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  font-size: 20px;
  color: $text-color-white;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  height: 100%;
}

.page-header__container {}

.institute__container {}

.articles__container {}

.categories__container {}

.page-footer__container {}