$background-color-black-theme: #1B1B1B;
$background-color-white-theme: #F0F0F0;

$text-color-white: #F0F0F0;

$color-IKIT: linear-gradient(105deg, #5968a9 0%, #54a3a8 50%, #54bbaa 100%);

$font-primary: "Montserrat", Arial, sans-serif;
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$main-line-height: 100%;